# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/

# Unit test / coverage reports
.cache

tmp
.coverage
.venv
venv
.uv-bootstrap
build
junit.xml
.idea/

ymmsl_files/output/

local_installs/*
!local_installs/.gitkeep
ymmsl_files/*

cases/*/
!cases/overrides/
!cases/input/

!*.template

.claude
