ymmsl_version: v0.1
model:
  name: test_sink_source_actor
  components:
    source_component:
      implementation: source_component
      ports:
        o_i: [equilibrium_out]
    sink_component:
      implementation: sink_component
      ports:
        f_init: [equilibrium_in]
  conduits:
    source_component.equilibrium_out: sink_component.equilibrium_in
settings:
  source_component.source_uri: "imas:hdf5?path=[PWD_PLACEHOLDER]/run/input/test_data_ids/"
  sink_component.sink_uri: "imas:hdf5?path=[PWD_PLACEHOLDER]/run/output/sink_inv"
  sink_component.sink_mode: "w"
implementations:
  sink_component:
    base_env: clean
    modules: PDS-IMAS-MUSCLE3
    virtual_env: $EBROOTIMASMUSCLE3/venv
    executable: python
    args: -u -m imas_muscle3.actors.sink_component
  source_component:
    base_env: clean
    modules: PDS-IMAS-MUSCLE3
    virtual_env: $EBROOTIMASMUSCLE3/venv
    executable: python
    args: -u -m imas_muscle3.actors.source_component
resources:
  source_component:
    threads: 1
  sink_component:
    threads: 1
