ymmsl_version: v0.2
imports:
- from imas_muscle3 import implementation source_component
- from imas_muscle3 import implementation sink_component
- from lib.local_programs import implementation waveform_editor
models:
  test_waveform_editor_actor:
    components:
      source:
        description: source
        implementation: source_component
        ports:
          o_i: [equilibrium_out]
      waveform_editor:
        description: waveform editor
        implementation: waveform_editor
        ports:
          f_init: [equilibrium_in]
          o_f: [ec_launchers_out, nbi_out]
      sink:
        description: sink
        implementation: sink_component
        ports:
          f_init: [ec_launchers_in, nbi_in]
    conduits:
      source.equilibrium_out: waveform_editor.equilibrium_in
      waveform_editor.ec_launchers_out: sink.ec_launchers_in
      waveform_editor.nbi_out: sink.nbi_in
settings:
  source.source_uri: "imas:hdf5?path=[PWD_PLACEHOLDER]/run/input/test_data_ids/"
  sink.sink_uri: "imas:hdf5?path=[PWD_PLACEHOLDER]/run/output/sink_waveform_editor"
  sink.sink_mode: "w"
  waveform_editor.waveforms: [PWD_PLACEHOLDER]/ymmsl_files/test_waveforms_config.yaml
resources:
  source:
    threads: 1
  sink:
    threads: 1
  waveform_editor:
    threads: 1
