ymmsl_version: v0.2
imports:
- from lib.local_programs import implementation source
- from lib.local_programs import implementation visualization
models:
  test_visualization_actor:
    components:
      source_component:
        description: source
        implementation: source
        ports:
          o_i: [equilibrium_out]
      visualization_component:
        description: visualization
        implementation: visualization
        ports:
          s: [equilibrium_in]
    conduits:
      source_component.equilibrium_out: visualization_component.equilibrium_in
settings:
  source_component.source_uri: "imas:hdf5?path=[PWD_PLACEHOLDER]/run/input/test_data_ids/"
  visualization_component.plot_file_path: "[PWD_PLACEHOLDER]/visualization/kinetic_profiles.py"
  visualization_component.throttle_interval: 0
  visualization_component.keep_alive: false
  visualization_component.open_browser: false
resources:
  source_component:
    threads: 1
  visualization_component:
    threads: 1
