ymmsl_version: v0.1
model:
  name: test_olc_actor
  components:
    source:
      implementation: source
      ports:
        o_i: [pf_active_out]
    olc:
      implementation: olc
      ports:
        f_init: [pf_active_in]
  conduits:
    source.pf_active_out: olc.pf_active_in
settings:
  source.source_uri: "imas:hdf5?path=[PWD_PLACEHOLDER]/run/input/test_data_ids/"
  olc.extra_rule_dirs: "[PWD_PLACEHOLDER]/pds_validation_tests"
  olc.rulesets: "iter-olc"
  olc.apply_generic: False
  olc.halt_on_error: False
  muscle_remote_log_level: 'DEBUG'
implementations:
  olc:
    modules: IMAS-MUSCLE3
    executable: python
    args: -u -m imas_muscle3.actors.olc_component
  source:
    modules: IMAS-MUSCLE3
    executable: python
    args: -u -m imas_muscle3.actors.source_component
resources:
  source:
    threads: 1
  olc:
    threads: 1
