ymmsl_version: v0.1
model:
  name: test_torax_actor
  components:
    source:
      implementation: source
      ports:
        o_i: [equilibrium_out]
    torax:
      implementation: torax
      ports:
        f_init: [equilibrium_f_init]
        o_f: [equilibrium_o_f]
    sink:
      implementation: sink
      ports:
        f_init: [equilibrium_in]
  conduits:
    source.equilibrium_out: torax.equilibrium_f_init
    torax.equilibrium_o_f: sink.equilibrium_in
settings:
  source.source_uri: "imas:hdf5?path=[PWD_PLACEHOLDER]/run/input/test_data_ids_torax"
  source.iterative: False
  sink.sink_uri: "imas:hdf5?path=[PWD_PLACEHOLDER]/run/output/sink_torax"
  sink.sink_mode: "w"
  muscle_remote_log_level: 'DEBUG'
  python_config_module: 'examples/basic_config.py'
implementations:
  source:
    modules: IMAS-MUSCLE3
    executable: python
    args: "-u -m imas_muscle3.actors.source_component"
  sink:
    modules: IMAS-MUSCLE3
    executable: python
    args: "-u -m imas_muscle3.actors.sink_component"
  torax:
    script: |
      #!/bin/bash
      module purge
      module load Python Boost HDF5 libiconv OpenBLAS
      source [PWD_PLACEHOLDER]/run/TORAX-MUSCLE3/venv/bin/activate
      export IMAS_VERSION="4.0.0"
      python -u -m torax_muscle3.torax_actor
resources:
  source:
    threads: 1
  sink:
    threads: 1
  torax:
    threads: 1

