globals:
  dd_version: 4.0.0
  machine_description:
    equilibrium: imas:hdf5?path=[PWD_PLACEHOLDER]/training_data/training_ids/
equilibrium:
  equilibrium/time_slice/global_quantities/ip:
    - { type: constant, value: -1.5e7 }
  equilibrium/vacuum_toroidal_field/b0:
    - { type: constant, value: -2.65 }
