ymmsl_version: v0.1
model:
  name: magnetically_controlled_[SHOT_NR]
  components:
    source:
      implementation: source
      ports:
        o_i: [equilibrium_out, pf_active_out, wall_out, pf_passive_out, iron_core_out, core_profiles_out]
    torax:
      implementation: torax
      ports:
        f_init: [equilibrium_f_init, core_profiles_f_init]
        s: [equilibrium_s]
        o_i: [equilibrium_o_i, core_profiles_o_i]
    sink_source:
      implementation: sink_source
      ports:
        f_init: [equilibrium_in]
        o_f: [wall_out, pf_active_out, pf_passive_out, iron_core_out]
    sink_source_nice:
      implementation: sink_source_nice
      ports:
        f_init: [equilibrium_in]
        o_f: [wall_out, pf_active_out]
    magnetic_controller:
      implementation: magnetic_controller
      ports:
        f_init: [equilibrium_f_init, pf_active_f_init]
        s: [equilibrium_s, pf_active_s]
        o_i: [pf_active_o_i]
    nice_evo:
      implementation: nice_evo
      ports:
        f_init: [equilibrium_f_init, wall_f_init, pf_active_f_init, pf_passive_f_init, iron_core_f_init]
        s: [equilibrium_s, pf_active_s]
        o_i: [equilibrium_o_i, pf_active_o_i]
    sink_nice:
      implementation: sink
      ports:
        f_init: [equilibrium_in, pf_active_in]
    sink_torax:
      implementation: sink
      ports:
        f_init: [equilibrium_in, wall_in, pf_active_in, pf_passive_in, iron_core_in, core_profiles_in]
    sink_controller:
      implementation: sink
      ports:
        f_init: [equilibrium_in, pf_active_in]
    visualization_nice:
      implementation: visualization
      ports:
        s: [equilibrium_in, pf_active_in, wall_md_in, pf_active_md_in]
    visualization_torax:
      implementation: visualization
      ports:
        s: [equilibrium_in]
    temporal_coupler:
      implementation: temporal_coupler
      ports:
        s: [a_in, b_in]
        o_i: [a_out, b_out]
  conduits:
    source.equilibrium_out: torax.equilibrium_f_init
    source.equilibrium_out: magnetic_controller.equilibrium_f_init
    source.pf_active_out: magnetic_controller.pf_active_f_init
    source.equilibrium_out: nice_evo.equilibrium_f_init
    source.pf_active_out: nice_evo.pf_active_f_init
    source.pf_passive_out: nice_evo.pf_passive_f_init
    source.iron_core_out: nice_evo.iron_core_f_init
    source.wall_out: nice_evo.wall_f_init
    source.core_profiles_out: torax.core_profiles_f_init
    
    torax.equilibrium_o_i: temporal_coupler.a_in
    nice_evo.equilibrium_o_i: temporal_coupler.b_in
    temporal_coupler.a_out: torax.equilibrium_s
    temporal_coupler.b_out: nice_evo.equilibrium_s

    torax.equilibrium_o_i: sink_source.equilibrium_in 
    torax.equilibrium_o_i: visualization_torax.equilibrium_in
    torax.equilibrium_o_i: sink_torax.equilibrium_in

    sink_source_nice.wall_out: visualization_nice.wall_md_in
    sink_source_nice.pf_active_out: visualization_nice.pf_active_md_in
    sink_source.pf_active_out: sink_torax.pf_active_in
    sink_source.pf_passive_out: sink_torax.pf_passive_in
    sink_source.wall_out: sink_torax.wall_in
    sink_source.iron_core_out: sink_torax.iron_core_in
 
    nice_evo.equilibrium_o_i: magnetic_controller.equilibrium_s
    nice_evo.equilibrium_o_i: sink_nice.equilibrium_in
    nice_evo.equilibrium_o_i: visualization_nice.equilibrium_in
    nice_evo.equilibrium_o_i: sink_source_nice.equilibrium_in
    nice_evo.pf_active_o_i: magnetic_controller.pf_active_s
    nice_evo.pf_active_o_i: sink_nice.pf_active_in
    nice_evo.pf_active_o_i: visualization_nice.pf_active_in
    magnetic_controller.pf_active_o_i: nice_evo.pf_active_s
    magnetic_controller.pf_active_o_i: sink_controller.pf_active_in

settings:
  source.source_uri: "imas:hdf5?path=[SUBDIR_PLACEHOLDER]/tmp/data/[SHOT_NR]_out_nice/"
  source.iterative: false
  source.t_min: [TSTART_PLACEHOLDER]
  sink_source.source_uri: "imas:hdf5?path=[SUBDIR_PLACEHOLDER]/tmp/data/[SHOT_NR]_in/"
  sink_source_nice.source_uri: "imas:hdf5?path=[SUBDIR_PLACEHOLDER]/tmp/data/[SHOT_NR]_out_nice/"
  sink_nice.sink_uri: "imas:hdf5?path=[SUBDIR_PLACEHOLDER]/tmp/data/[SHOT_NR]_out_nice_evo"
  sink_controller.sink_uri: "imas:hdf5?path=[SUBDIR_PLACEHOLDER]/tmp/data/[SHOT_NR]_out_controller"
  sink_torax.sink_uri: "imas:hdf5?path=[SUBDIR_PLACEHOLDER]/tmp/data/[SHOT_NR]_out_torax"
  sink_nice.sink_mode: "w"
  sink_controller.sink_mode: "w"
  sink_torax.sink_mode: "w"
  torax.output_all_timeslices: False
  xml_path: [SUBDIR_PLACEHOLDER]/config_nice.xml
  python_config_module: [SUBDIR_PLACEHOLDER]/config_torax.py
  visualization_nice.plot_file_path: [BASEDIR_PLACEHOLDER]/visualization/nice_inv.py
  visualization_nice.throttle_interval: 0.4
  visualization_nice.keep_alive: false
  visualization_torax.plot_file_path: [BASEDIR_PLACEHOLDER]/visualization/kinetic_profiles.py
  visualization_torax.throttle_interval: 0.4
  visualization_torax.keep_alive: false
  muscle_remote_log_level: 'DEBUG'
  nice_evo.t_interval: 0.01   #Need to match torax dt
  nice_evo.dt: 0.01
  
implementations:
  source:
    virtual_env: [BASEDIR_PLACEHOLDER]/run/IMAS-MUSCLE3/venv
    executable: python
    args: "-u -m imas_muscle3.actors.source_component"
  sink:
    virtual_env: [BASEDIR_PLACEHOLDER]/run/IMAS-MUSCLE3/venv
    executable: python
    args: "-u -m imas_muscle3.actors.sink_component"
  sink_source:
    virtual_env: [BASEDIR_PLACEHOLDER]/run/IMAS-MUSCLE3/venv
    executable: python
    args: "-u -m imas_muscle3.actors.sink_source_component"
  sink_source_nice:
    virtual_env: [BASEDIR_PLACEHOLDER]/run/IMAS-MUSCLE3/venv
    executable: python
    args: "-u -m imas_muscle3.actors.sink_source_component"
  nice_evo:
    env: 
      IMAS_AL_DISABLE_VALIDATE: 1
    modules: SuiteSparse/7.7.0-intel-2023b libxml2
    executable: [BASEDIR_PLACEHOLDER]/run/nice/run/nice_imas_evo_muscle3
    #executable: valgrind --leak-check=yes [BASEDIR_PLACEHOLDER]/run/nice/run/nice_imas_evo_muscle3
  torax:
    script: |
      #!/bin/bash
      module purge
      module load Python Boost HDF5 libiconv OpenBLAS
      source [BASEDIR_PLACEHOLDER]/run/TORAX-MUSCLE3/venv/bin/activate
      export IMAS_VERSION="4.0.0"
      python -u -m torax_muscle3.torax_actor
  magnetic_controller: 
    env:
      PCS_PATH: [BASEDIR_PLACEHOLDER]/run/pcs
      CONTROLLER_PATH: [BASEDIR_PLACEHOLDER]/controllers
      SCDDS_COREPATH: [BASEDIR_PLACEHOLDER]/run/pcs/pcssp/scdds
    modules: MATLAB/2024a-r6-GCCcore-13.2.0
    executable: matlab
    # args: -r "[s,t] = unix('which python');
    args: -batch "[s,t] = unix('which python');
                  pyenv('Version',strtrim(t),'ExecutionMode','InProcess');
                  addpath(getenv('PCS_PATH'));
                  run('[BASEDIR_PLACEHOLDER]/run/nice/runmatlab/initNice4matlab.m');
                  pcssp_pcs_add_paths;
                  comparisons.ExternalSCMLink.setupGitConfig();
                  addpath(getenv('CONTROLLER_PATH'));
                  muscle_controller_NICE_IMAS_iter_init;"
  visualization:
    virtual_env: [BASEDIR_PLACEHOLDER]/run/IMAS-MUSCLE3/venv
    executable: python
    args: "-u -m imas_muscle3.actors.visualization_component"
  temporal_coupler:
    modules: MUSCLE3
    executable: python
    args: "-u [BASEDIR_PLACEHOLDER]/workflows/torax_nice_utils/temporal_coupler.py"
resources:
  source:
    threads: 1
  sink_source:
    threads: 1
  sink_source_nice:
    threads: 1
  sink_nice:
    threads: 1
  sink_controller:
    threads: 1
  sink_torax:
    threads: 1
  torax:
    threads: 1
  nice_evo:
    threads: 1
  magnetic_controller:
    threads: 1
  visualization_nice:
    threads: 1
  visualization_torax:
    threads: 1
  temporal_coupler:
    threads: 1

